<section class="main mt-5"> 
<h1>Hello</h1>
   <% @users.each do |user| %>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.fillmurray.com/640/360" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <%= userpost.title%></h5>
          <p class="card-text"><%= userpost.text %></p>
          <p class="card-text"><small class="text-muted">Comment(s): <%= userpost.comments_counter%></small></p>
          <p class="card-text"><small class="text-muted">Likes(s): <%= userpost.likes_counter%></small></p>
            <div class="posts-index-comments-container">
            <div class="see-posts-button">
       <%= link_to "See all posts", user_posts_path(@user), {:class => "button-class"} %>
    </div>
        </div>

        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
