<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Sing in</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
